<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project {{owner}}/{{repo}}</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/spring.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../public/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#trackingCode}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZM7GF6');</script>
    {{/trackingCode}}
</head>
<body>
<form id="form" action="createRepo" method="get" role="form">

    <input type="hidden" name="id" id="id" value="{{ id }}" />

    <div class="container-fluid">
        <div class="row start-header">
            <div class="container">
                <img src="https://www.atomist.com/img/Atomist-Logo.png" height="108" width="87" />

                <a href="https://github.com/{{owner}}/{{repo}}">
                    <img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png"
                         align="right"
                         width="116" height="90"/>
                </a>

                <h1>Project Details <small><a href="/orgs/github/{{owner}}">{{owner}}</a>/{{repo}}</small></h1>
            </div>
        </div>

        <div class="container start-main">

            <div class="row">

                {{#action}}
                <div class="alert alert-danger text-center" role="alert" style="margin-top: 20px">
                    {{action}}
                    <button tabindex="12" name="upgrade" type="submit" class="btn btn-sm"
                            role="button"
                            formmethod="POST"
                            formaction="/upgrade">
                        Update
                    </button>
                </div>
                {{/action}}

                <div class="col-sm-12 col-md-6">

                    <h3>Project Info</h3>
                    <p>Python Flask

                    <h3>Quality Checks</h3>

                    <p>Atomist helps maintain the quality of your projects
                        by running automated checks.
                    </p>

                    <p><img src="https://media.istockphoto.com/photos/check-mark-picture-id179342378?k=6&m=179342378&s=612x612&w=0&h=sFdAqOZ3cmnRm6_3sj1BO5MNumn4gkHVMC1AdHISdL0="
                            width="25" height="25"/>    <label>Cloud Native App</label></p>

                    <p><img src="https://media.istockphoto.com/photos/check-mark-picture-id179342378?k=6&m=179342378&s=612x612&w=0&h=sFdAqOZ3cmnRm6_3sj1BO5MNumn4gkHVMC1AdHISdL0="
                            width="25" height="25"/>    <label>Dependencies permitted</label></p>

                    <!--<h3>Spring Boot Starters</h3>-->

                    <!--<ul>-->
                        <!--<li>starter-web</li>-->
                        <!--<li>starter-security</li>-->
                    <!--</ul>-->

                </div>

                <div class="col-sm-12 col-md-6">
                    <h3>Subscribe to Updates</h3>

                    <p>Keep your projects consistent and up to date.
                        Opt in to receive pull requests from Atomist and Pivotal when new versions are released.
                    </p>

                    <p>
                    <input type="checkbox" name="Keep Dependencies" checked="true" />
                    <label>Dependencies</label>
                    </p>

                    <p>
                    <input type="checkbox" name="Update Java version" checked="true" />
                    <label>Usage refinements</label>
                    </p>

                    <h3>Atomist Lifecycle</h3>
                    <img src="/img/lifecycle1.png" width="350" height="85"/>

                    <img src="/img/add_to_slack@2x.png" width="139" height="40" />

                    <p/>
                    <p/>
                    <div class="row">
                        <p >
                            <button tabindex="12" name="update-settings"
                                    type="submit" class="btn btn-lg"
                                    role="button"
                                    formmethod="GET"
                                    formaction="/updateSettings">
                                Update Settings
                            </button>
                        </p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</form>
<footer>
    <div class="container">
        <p>Powered by <a href="https://www.atomist.com">Atomist</a></p>
    </div>
</footer>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/mousetrap.min.js"></script>
<script src="/js/start.js"></script>

</body>
</html>
