<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Initializr</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/spring.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#trackingCode}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZM7GF6');</script>
    {{/trackingCode}}
</head>
<body>
<form id="form" action="createRepo" method="get" role="form">

    <input type="hidden" name="id" id="id" value="{{ id }}" />

    <div class="container-fluid">
        <div class="row start-header">
            <div class="container">
                <img src ="https://www.atomist.com/img/Atomist-Logo.png" height="108" width="87" />

                <h1>Spring Initializr <small>create a repo with Atomist</small></h1>
            </div>
        </div>

        <div class="container start-main">
            <div class="text-center">
                {{#message}}
                <div class="alert alert-danger text-center" role="alert">
                    {{message}}
                </div>
                {{/message}}
                <div class="card-body" style="margin-top: 20px">
                    <h4 class="card-title">Login</h4>
                    <p class="card-text">Please login with GitHub to create a repository.</p>
                    <a href="/auth/github" class="btn btn-primary" style="vertical-align: text-top"><i class="fa fa-github fa-lg" aria-hidden="true"></i>&nbsp;Login with GitHub</a>
                </div>
            </div>
        </div>
    </div>
</form>
<footer>
    <div class="container">
        <p>start.spring.io is powered by <a href="https://github.com/spring-io/initializr/">Spring Initializr</a>
            and <a href="https://www.atomist.com">Atomist</a> on <a href="https://run.pivotal.io">Pivotal Web Services</a></p>
    </div>
</footer>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/mousetrap.min.js"></script>
<script src="/js/start.js"></script>
</body>
</html>
