<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project {{owner}}/{{repo}}</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/spring.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#trackingCode}}
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KZM7GF6');</script>
    {{/trackingCode}}
</head>
<body>
<form id="form" action="createRepo" method="get" role="form">

    <input type="hidden" name="id" id="id" value="{{ id }}"/>

    <div class="container-fluid">
        <div class="row start-header">
            <div class="container">
                <img src="https://www.atomist.com/img/Atomist-Logo.png" height="108" width="87"/>

                <h1>Deployment
                    <small>{{owner}}/{{repo}}</small>
                </h1>
            </div>
        </div>

        <div class="container start-main">

            <div class="row">

                <div class="col-sm-12 col-md-4">

                    <h3>Pivotal Cloud Foundry</h3>

                    <p class="text-center">
                        <button tabindex="12" name="create-repo" class="btn btn-lg btn-primary"
                                type="button"
                                onclick="deployinate('{{owner}}', '{{repo}}')">
                            Deploy to Cloud Foundry
                        </button>
                    </p>

                    <div class="row" align="center" id="image_holder">
                        <img id="image_placeholder"
                             width="250"
                             height="250"
                             alt="Deployment status"
                             src="https://cdn.psychologytoday.com/sites/default/files/styles/image-article_inline_full/public/field_blog_entry_teaser_image/Woman.Waiting_0.jpg?itok=gG2yX57q"
                        </img>
                    </div>

                </div>

                <div class="col-sm-12 col-md-6" id="explanation">
                    <h3>How it works</h3>

                    <i>We've checked, and this is a 12 factor app. Congratulations!</i>
                    <p></p>

                    We can deploy your Spring Boot application Pivotal Cloud Foundry.
                    When the deployment is complete, we'll give you a link to the
                    running application and the Pivotal Cloud Foundry console you
                    can use to administer it.

                </div>

                <div class="col-sm-12 col-md-6" hidden="true" id="output_pane">
                    <h3>Deployment progress...</h3>

                    <iframe id="deployment" width="650" scrolling="yes" height="340" frameborder="2"
                            align="middle" name="canal" src=""></iframe>

                </div>

            </div>

        </div>
    </div>
</form>
<footer>
    <div class="container">
        <p>Powered by <a href="https://www.atomist.com">Atomist</a> on <a href="https://run.pivotal.io">Pivotal Web
            Services</a></p>
    </div>
</footer>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/mousetrap.min.js"></script>
<script src="/js/start.js"></script>

<script src="/js/deploy.js"></script>

</body>
</html>
