<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project {{owner}}/{{repo}}</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/spring.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#trackingCode}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZM7GF6');</script>
    {{/trackingCode}}
</head>
<body>
<form id="form" action="createRepo" method="get" role="form">

    <input type="hidden" name="id" id="id" value="{{ id }}" />

    <div class="container-fluid">
        <div class="row start-header">
            <div class="container">
                <img src ="https://www.atomist.com/img/Atomist-Logo.png" height="108" width="87" />

                <h1>Project Details <small>{{owner}}/{{repo}}</small></h1>
            </div>
        </div>

        <div class="container start-main">

            <div class="row">

                {{#action}}
                <div class="alert alert-danger text-center" role="alert" style="margin-top: 20px">
                    {{action}}
                    <button tabindex="12" name="upgrade" type="submit" class="btn btn-sm"
                            role="button"
                            formmethod="POST"
                            formaction="/upgrade">
                        Update
                    </button>
                </div>
                {{/action}}

                <div class="col-sm-12 col-md-6">
                    <!--<h2>Project Overview</h2>-->

                    <a href="https://github.com/{{owner}}/{{repo}}">GitHub project</a>

                    <h3>Spring Boot <i>1.5.8</i></h3>
                    Maven


                    <h3>Starters</h3>

                    <ul>
                        <li>starter-web</li>
                        <li>starter-security</li>
                    </ul>

                    <form>
                        <button tabindex="12" name="deploy" type="submit" class="btn btn-lg btn-primary"
                                role="button"
                                formmethod="GET"
                                formaction="/pcfDeploy/{{owner}}/{{repo}}">
                            Deploy to Pivotal Cloud Foundry
                        </button>
                    </form>

                </div>

                <div class="col-sm-12 col-md-6">
                    <h3>Subscriptions</h3>

                    <p>Atomist and Pivotal will make pull requests when a newer
                        version of Spring Boot comes out, to ensure you stay up to date.
                    </p>

                    <input type="checkbox" name="Keep Spring Boot up to date" checked="true" />
                    <label>Spring Boot Version</label>

                    <h3>Atomist Lifecycle</h3>
                    <img src="/img/lifecycle1.png" width="350" height="85"/>

                    <img src="/img/add_to_slack@2x.png" width="139" height="40" />

                </div>

            </div>

        </div>

        <div class="row">
            <p class="text-center">
                <button tabindex="12" name="create-repo" type="submit" class="btn btn-lg btn-primary"
                        role="button"
                        formmethod="GET"
                        formaction="/createRepo">
                    Update Settings
                </button>
            </p>
        </div>
    </div>
</form>
<footer>
    <div class="container">
        <p>Powered by <a href="https://www.atomist.com">Atomist</a> on <a href="https://run.pivotal.io">Pivotal Web Services</a></p>
    </div>
</footer>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/mousetrap.min.js"></script>
<script src="/js/start.js"></script>

</body>
</html>
